<form
  (submit)="submitFilter()"
>

  <div class="full-width example-form">

    <mat-form-field>
      <mat-label for="id">ID</mat-label>
      <input
        matInput
        [(ngModel)]="id"
        type="number"
        name="id"
        min="1"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Название</mat-label>
      <input
        matInput
        name="name"
        [(ngModel)]="name"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Выберите диапозон</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Начало" (ngModelChange)="validate()">
        <input matEndDate formControlName="end" placeholder="Конец" (ngModelChange)="validate()">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Невалидная начальная дата</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Невалидная конечная дата</mat-error>
    </mat-form-field>

  </div> <!-- .full-width -->

  <button
    mat-raised-button
    type="submit"
    [disabled]="!isValid"
  >
    Применить фильтр
  </button>

  <!-- <p>Selected range: {{range.value | json}}</p> -->

</form>
