*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

app-root {
  min-height: 100%;
  display: block;
}

table {
  width: 100%;
}

body {
  min-height: 100%;
}

.container {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


app-root {
  display: block;
  padding: 40px 0;
}
